<!DOCTYPE html>
<html lang="en">
<head>
    <title>Where App | Map</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>
    <link rel="stylesheet" type="text/css" href="../src/css/map.css">
</head>
<body>
    <div class="wrapper">
        <div class="mapContainer">
            <div id="map"></div>
        </div>
    </div>
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js" 
    integrity="sha384-mZLF4UVrpi/QTWPA7BjNPEnkIfRFn4ZEO3Qt/HFklTJBj/gBOV8G3HcKn4NfQblz" 
    crossorigin="anonymous"></script>
    <script type="text/javascript" src="../src/js/map.js"></script>
</body>
</html>
