* {
    margin: 0;
  }
body{
    background-color:rgba(56, 54, 54, 0.992);
}

.wrapper{
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 20px;
}

.mapContainer {
    flex: 1;
    margin: 10px; 
    
}
#map {
    height: 100%;
    border-radius: 10px; 
   
}

#mapInfo {
    position: absolute;
    top:20px;
    right:20px;
    z-index: 500;
    height: 30px;
    width: 60px;
    border-radius: 2px;
    border: 1px solid black;
    background-color: white;
    justify-content: center;
}
