* {
    margin: 0;
  }
body{
    background-color:rgba(56, 54, 54, 0.992);
}

.wrapper{
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 20px;
}

.mapContainer {
    flex: 1;
    margin: 0px 20px 20px 20px; 
}
#map {
    height: 100%;
    border-radius: 10px;
       
    
}
.textBox {
    border: 1px solid black;
    background: #fff;
    border-radius: 5px;
    width: 100px;
    height: 50px;
  }